/* popup.js 
body { font:bold 9px arial,sans-serif; }
h1 { font:bold 16px arial,sans-serif; }
h2 { font:bold 16px arial,sans-serif; }
#witPopup{ width:200px; margin-left:auto; margin-right:auto; clear:both; padding:15px; }
#popHeader { font: 16px arial, sans-serif; }
#maxDistInput{ width:10%;}
#message{border:1px solid black;}


#content { width:700px; margin-left:auto; margin-right:auto; clear:both; }
#witSettings { float:left; }
input { width:35px; }
#witHeader { font:bold 16px arial,sans-serif; text-indent:25px; display:inline; }
#witInputHeader { font:bold 16px arial,sans-serif;display:inline; padding:4px 1px  }
#distPreviewHeader { font:bold 16px arial,sans-serif; text-indent:25px; display:inline; }
#statusMess { color:red; }
#statusMessCacl { color:red; }
#inputRadio { font:14px arial,sans-serif; }
table, td, tr { font:14px arial,sans-serif; }
.alnright{ text-align:right; }

/* Debug */
#statusMessageHolder { color:red; }

/*spacing was a little too far, reduced*/
h2, h3 {
	margin-top:5px;
	margin-bottom:5px;
	line-height:15px;
}
html {
	width:300px;
	height:300px;
	
	top:0px;
    bottom:0px;
	left:0px;
	right:0px;
	background-color:#d87015;
}
body {
	width:280px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:8px;
	padding-bottom:8px;
	color:#004091; /*text color, inherited later*/
}
#background-layer {
	height:100%;
	width:100%;
	background-color:#ffd478; 
}
#header { 
	width:inherit;
	height:10%;
	text-align:center; 
	display:inline-block;
	font:bold 14px arial,sans-serif;
	color:#004091;	
}
#content { 
	width:70%;
	margin-left:auto;
	margin-right:auto;
	justify-content:center;
	font:14px arial,sans-serif; 
	color:inherit;
	padding:10px;
}
#settings { 
	width:50%;
	height:auto;
	color:inherit;
	padding:10px;
}
#maxDist{
	width:50px;
}
button, input { 
	margin:1px 5px;
	padding:3px;
}
.alnright{ text-align:right; }

/*this includes padding and borders WITHIN the total width and height*/
* {
	box-sizing: border-box;
}